@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*, *::after, *::before {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));
 
.dark{
scrollbar-color: #525 #1a0a14;
scrollbar-face-color: rgb(0,0,0);
}

html{
  scroll-behavior: smooth;
}

body{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}


.pagination {
  .swiper-pagination-bullet {
    background-color: #000000b4;
    height: 9px;
    width: 9px;
    opacity: 0.5;
    cursor: pointer;

  }

  .swiper-pagination-bullet-active {
    background-color: #ff1fb1;
    opacity: 1;
  }
}

.fadeIn{
  opacity: 10%;
  animation: fadeIn 1s linear forwards;
}

@keyframes fadeIn {
  to{
    opacity: 100%;
  }
}

.no-scroll{
  overflow: hidden;
}


.rotate-moon{
  color: #ffee00;
  animation: rotate-moon 0.5s ease forwards;
}

.rotate-sun{

  animation: rotate-sun 0.5s ease forwards;
}

@keyframes rotate-moon {
  from{
    transform: rotate(-25deg)
  }
  to{
    transform: rotate(0);
  }
}

@keyframes rotate-sun {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}

